<form [formGroup]="form">

    <div class="form-group">
        <label for="inputId">Código</label>
        <input type="text" class="form-control" id="inputId" formControlName="id" disabled>
    </div>

    <div class="form-group">
        <label for="inputNome">Nome</label>
        <input type="text" class="form-control" id="inputNome" formControlName="nome">
        <div class="alert alert-danger" *ngIf="form.get('nome').invalid && form.get('nome').touched">
            Campo inválido
        </div>
    </div>

    <div class="form-group">
        <label for="inputTipo">Tipo</label>
        <select class="form-control" id="inputTipo" name="inputTipo" formControlName="tipo">
            <option [value]="'DESPESA'">DESPESA</option>
            <option [value]="'RECEITA'">RECEITA</option>
        </select>
    </div>

    <div class="form-group">
        <label for="inputValor">Valor</label>
        <input type="text" class="form-control" id="inputValor" formControlName="valor">
        <div class="alert alert-danger" *ngIf="form.get('valor').invalid && form.get('valor').touched">
            Campo inválido
        </div>
    </div>

    <div class="form-group">
        <label for="inputData">Data</label>
        <p-calendar [style]="{'width':'100%'}" inputStyleClass="form-control" [locale]="br" showButtonBar="true"
            formControlName="data" dateFormat="dd/mm/yy"></p-calendar>
        <div class="alert alert-danger" *ngIf="form.get('data').invalid && form.get('data').touched">
            Campo inválido
        </div>
    </div>

    <div class="form-group">
        <label for="inputCategoria">Categoria</label>
        <p-autoComplete formControlName="categoria" [style]="{'width':'100%'}" inputStyleClass="form-control"
            [suggestions]="listaCategoria" (completeMethod)="buscarCategoria($event)" field="nome" [forceSelection]="true">
        </p-autoComplete>
    </div>

    <button type="button" class="btn btn-sm btn-primary" (click)="salvar();" [disabled]="form.invalid">
        <i class="fas fa-save"></i> Salvar
    </button>

    <button *ngIf="lancamento && lancamento.id" type="button" style="float: right" class="btn btn-sm btn-danger"
        (click)="remover();">
        <i class="fas fa-trash"></i> Remover
    </button>

</form>